{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create.css' %}" />
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <title>Опубликовать</title>
</head>

<body>

    <a href="/">
        <button class="button">Главная</button>
    </a>
    
    <div class="registration-form">
        <div class="form-container container">
            <h1>Опубликовать Фото</h1>
            <form method="post" class="registration__form">
                {% csrf_token %}
                {{ form.as_div }}
                <button class="form__btn" id="publish-btn" type="submit">Опубликовать</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>