.button {
	color: var(--color-text-white);

	@apply py-12 px-16 w-full font-bold rounded-10
	animate-[fadeIn_.5s] transition-all duration-200;
	font-size: clamp(10px, 3vw, 16px);
	border-radius: clamp(5px, 2vw, 10px);
	padding: clamp(8px, 2vw, 12px) 16px;

	&__small {
		@apply max-w-60 rounded-5 py-4 px-12 text-10;
	}
	&__middle {
		@apply max-w-195;
	}
	&__large {
		@apply max-w-400;
		max-width: clamp(240px, 65vw, 400px);
	}
	&__blue {
		@apply bg-blue-main hover:bg-blue-hover active:bg-blue-active;
	}
	&__red {
		@apply bg-red-main hover:bg-red-hover active:bg-red-active;
	}
	&__gray {
		@apply bg-gray-main hover:bg-gray-hover active:bg-gray-active;
	}
}
