.main__error {
	color: #d02929;
	font-weight: bold;
	font-size: 24px;
}
.main__text {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}
.main {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
