.card {
	background-color: var(--color-bg);
	border-color: var(--color-border);
	@apply relative w-full rounded-10 duration-200 flex flex-col items-center justify-center p-4
	border-solid border-[1px];
	min-width: clamp(200px, 5vw, 256px);
	max-width: clamp(200px, 60vw, 300px);
	min-height: clamp(130px, 40vw, 170px);

	&:hover {
		border-color: var(--color-border-hover);
	}

	.volume-icon {
		@apply absolute top-3 left-3 cursor-pointer transition;
	
		&:hover {
			@apply scale-105 stroke-blue-main;
		}
	
		&_blue {
			@apply stroke-blue-main;
		}
	}

	.square-plus-icon {
		@apply absolute top-3 right-3 cursor-pointer transition;
	
		&:hover {
			@apply scale-105 stroke-green-main;
		}
	}
	
	.content {
		color: var(--color-icons);
		word-wrap: break-word;
		@apply max-w-[240px] max-h-16 text-center overflow-y-scroll animate-[fadeInText_.5s];
	}
	
	.content::-webkit-scrollbar {
		display: none;
	}
}


