{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <title>User Account</title>
</head>

<body>
    <div class="registration-form">
        <div class="form-container container">

            <h1>Регистрация</h1>

            <form method="post" class="registration__form">

                {% csrf_token %}
                <div class="input-group">

                    <label for="username">
                        Введите имя пользователя
                    </label>

                    {{ form.User_Name }}

                </div>

                <div class="input-group">

                    <label for="email">
                        Введите Email
                    </label>

                    {{ form.Email }}

                </div>

                <div class="input-group">

                    <label for="password">Введите Пароль</label>

                    {{ form.Password }}
                    
                </div>
                
                <button class="form__btn" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>

</html>