.edit-form {
	@apply flex flex-col items-center justify-center w-full h-full gap-10 max-w-400 mx-auto;
	max-width: clamp(240px, 65vw, 400px);

	.buttons {
		@apply flex gap-10 w-full;
	}
}

.cancel-image {
	&-box {
		@apply w-full h-auto relative;
	}
	&:hover {
		.cancel-ico {
			@apply stroke-blue-main;
		}
		.cancel-text {
			@apply text-blue-main;
		}
	}
	z-index: 1000;
	@apply border-solid border-[1px] border-blue-main duration-300 
	hover:opacity-100 opacity-0 rounded-10 bg-color-white-90 
	absolute w-full h-full flex items-center justify-center 
	flex-col gap-2;
}