{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>Account Detail</title>
</head>

<body>
    
    <div class="account-detail">

        <a href="/">
            <button class="button">Главная</button>
        </a>
        
        
        <img src="{% static 'images/account_circle_FILL0_wght400_GRAD0_opsz24.png' %}" alt="Default Photo">
        <h1>Account Detail</h1>
        <p>ID: {{ account.id }}</p>
        <p>Name: {{ account.User_Name }}</p>
        <p>Email: {{ account.Email }}</p>
        <button class="button create-desk__button">Добавить доску</button>
        <form method="post">
            <div class="create-desk__popup">
                <input type="text" placeholder="Введите название">
            </div>
        </form>
    </div>
    
    <script src="{%static 'js/script.js'%}"></script>

</body>

</html>