.box {
	background-color: var(--color-bg);
	border-color: var(--color-border);
	@apply relative border-solid border-[1px] 
	rounded-10 flex flex-col items-center
	 justify-center gap-1 transition-all duration-200;

	 min-width: clamp(200px, 5vw, 256px);
	max-width: clamp(200px, 60vw, 300px);
	min-height: clamp(130px, 40vw, 170px);

	&:hover {
		border-color: var(--color-border-hover);
	}

	.text-wrapper {
		@apply max-w-[240px] max-h-10 text-center overflow-y-scroll animate-[fadeInText_.5s];
		word-wrap: break-word;	
	}

	.text-wrapper::-webkit-scrollbar {
		display: none;
	}
	
	.btns {
		@apply relative flex flex-row justify-center gap-2;

		.confirm-modal {
			@apply absolute top-[35px] left-[-8px] opacity-100 transition-all;
		
			&_off {
				@apply hidden opacity-0 transition-all;
			}
		}

		.btn {
			@apply hover:cursor-pointer hover:scale-95 duration-100;
		}

		.edit-button {
			&:hover {
				@apply stroke-blue-main;
			}
		}
		
		.play-button {
			&:hover {
				@apply stroke-green-main;
			}
		}
	}
}
