.text {
	color: var(--color-text);
	@apply animate-[fadeIn_.5s];

	&__extra-small {
		@apply text-12;
		font-size: clamp(12px, 2vw, 12px);
	}
	&__small {
		@apply text-14;
	}
	&__middle {
		@apply text-16;
	}
	&__large {
		@apply text-18;
	}
	&__bold {
		@apply font-bold;
	}
	&__regular {
		@apply font-normal;
	}
	&__blue {
		@apply text-blue-main;
	}
	&__black {
		color: var(--color-text);
	}
	&__gray {
		@apply text-color-icons;
	}
}
