.container {
    @apply z-10 transition-all w-full h-full animate-[fadeIn_.5s];
    
    &-delete {
        @apply top-0 left-0 bg-color-black-20 w-full h-full animate-[fadeIn_.5s];
    }
    
    .title {
        @apply flex justify-center items-center text-center
    }
    
    .modal-window {
        color: var(--color-text);
        background-color: var(--color-bg);
        border-color: var(--color-border);
        &:hover {
            border-color: var(--color-border-hover);
        }
        @apply z-20 flex flex-col gap-9 items-center justify-center p-9 
        absolute top-1/2 left-1/2 
        transform -translate-x-1/2 -translate-y-1/2
        max-w-[500px] w-full h-full max-h-72 border-solid border-[1px]
        rounded-10 animate-[fadeInDown_.5s] transition-all;
    }

    .buttons {
        @apply flex gap-3 justify-center w-full
    }
}

