.loader {
	@apply flex justify-center items-center h-screen;
}

.lds-ellipsis,
.lds-ellipsis div {
	@apply flex box-border;
}
.lds-ellipsis {
	@apply relative inline-block w-[80px] h-[80px];
}
.lds-ellipsis div {
	@apply absolute top-[33.33px] w-[13px] h-[13px] rounded-[50%] bg-blue-main;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	@apply left-2;
	/* left: 8px; */
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	@apply left-2;
	/* left: 8px; */
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	@apply left-8;
	/* left: 32px; */
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	@apply left-14;
	/* left: 56px; */
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
