.wrapper {
	@apply relative;

	.card {
		background-color: var(--color-bg);
		border-color: var(--color-border);
		width: clamp(170px, 40vw, 256px);
		min-height: clamp(120px, 27vw, 170px);

		@apply relative w-64 min-h-[170px] rounded-10 border-solid border-[1px]
		duration-200 flex flex-col items-center justify-center z-10;

		&__image-open {
			@apply rounded-b-[0px];
		}

		.volume-icon {
			@apply absolute top-3 left-3 cursor-pointer transition;
			width: clamp(16px, 4vw, 23px);
			top: clamp(8px, 2vw, 12px);

			&:hover {
				@apply scale-105 stroke-blue-main;
			}

			&_blue {
				@apply stroke-blue-main;
			}
		}

		.square-plus-icon {
			@apply absolute top-3 right-3 cursor-pointer transition;
			width: clamp(16px, 4vw, 23px);
			top: clamp(8px, 2vw, 12px);

			&:hover {
				@apply scale-105 stroke-green-main;
			}
		}

		.content {
			@apply w-full h-full flex justify-center items-center flex-col mt-3;

			.text-wrapper {
				@apply max-w-[240px] max-h-16 text-center overflow-y-scroll;
				word-wrap: break-word;
			}

			.text-wrapper::-webkit-scrollbar {
				display: none;
			}

			.word {
				@apply transition;
			}

			.eye {
				@apply cursor-pointer hover:scale-105 duration-150;
				width: clamp(16px, 4vw, 23px);
			}
		}

		.arrow {
			@apply flex items-center justify-center absolute bottom-0 h-[15px] w-16 cursor-pointer;

			&:hover {
				.left-line,
				.right-line-top {
					@apply rotate-6;
				}
				.right-line,
				.left-line-top {
					@apply -rotate-6;
				}
			}

			.left-line,
			.left-line-top {
				@apply absolute left-[9px] h-[3px] w-6 rounded-full bg-color-icons transition;
			}
			.right-line,
			.right-line-top {
				@apply absolute right-[9px] h-[3px] w-6 rounded-full bg-color-icons transition;
			}

			&_off {
				@apply hidden;
			}
		}
	}
	
	.image-wrapper {
		background-color: var(--color-bg);
		border-color: var(--color-border);
		@apply absolute w-full p-5 -translate-y-[140px] inline-flex items-center border-solid 
		border-[1px] justify-center opacity-0 h-full max-h-[170px] rounded
		overflow-hidden rounded-b-10 transition-all duration-200;
	
		.outside-container {
			@apply min-w-[240px] my-1 flex justify-center items-center rounded-b-10 overflow-hidden;
		}
	
		.image-container {
			@apply flex items-center h-full max-h-[155px] min-w-[280px] p-5;
		}
	
		.image {
			@apply object-cover object-center rounded-b-10 h-full h-[155px];
		}
		&-open {
			@apply -translate-y-[3px] opacity-100;
		}
	}
}
