{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" />
    <title>Edit Account</title>
</head>
<body>
    <a href="/">
        <button class="button">Главная</button>
    </a>

    <div class="form-container">

        <h1>Edit Account</h1>

        <form method="post">

            {% csrf_token %}
            <div class="input-group">
                {{ form.User_Photo.label_tag }}  
                {{ form.User_Photo }}  
            </div>

            <div class="input-group">
                {{ form.User_Name.label_tag }}  
                {{ form.User_Name }}  
            </div>

            <div class="input-group">
                {{ form.Email.label_tag }}  
                {{ form.Email }}  
            </div>
            
            <div class="input-group">
                {{ form.Password.label_tag }}  
                {{ form.Password }}  
            </div>

            <button type="submit">Submit</button>
            
        </form>
    </div>
</body>
</html> 