.registration {
	width: 100%;
	max-width: 400px;
	min-width: 100px;

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 32px;
		font-weight: 600;
		margin-bottom: 16px;
	}

	&__inputs {
		margin-bottom: 12px;
	}

	&__input {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}