@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

::-webkit-scrollbar {
    @apply w-[8px] scroll-smooth;
}

::-webkit-scrollbar-thumb {
    border-color: var(--color-border);
    background-color: var(--color-bg);
    @apply w-[5px] border-1 border-solid rounded-full;
}

:root[data-theme='light'] {
    --color-icons: #707989;
    --color-placeholder: #DAE9FE30;
    --color-bg: #ffffff;
    --color-main-bg: #EAEAEA;
    --color-border: #D0D7DE;
    --color-border-hover: #b4bac0;
    --color-text: #101010;
    --color-text-grey: #37424A;
    --color-text-white: #edf4ff;
}

:root[data-theme='dark'] {
    --color-icons: #a2aab8;
    --color-placeholder: #DAE9FE30;
    --color-bg: #24272A;
    --color-main-bg: #181A1C;
    --color-border: #30363D;
    --color-border-hover: #485058;
    --color-text: #edf4ff;
    --color-text-grey: #87929d;
    --color-text-white: #edf4ff;
}

body {
    background-color: var(--color-bg);
}