.info {
	background-color: var(--color-bg);
	border-color: var(--color-border);
	&:hover {
		border-color: var(--color-border-hover);
	}
	@apply flex items-center w-full h-min justify-between rounded-10 border-solid
   border-[1px] p-[16px] transition-all duration-200;
	padding: clamp(10px, 2vw, 16px);

	.main_info {
		@apply flex;
	}

	&-left {
		@apply flex justify-start items-center mr-16;
	}

	&-buttons {
		@apply block;
	}

	&-avatar {
		border-color: var(--color-border);
		background-color: var(--color-main-bg);
		@apply rounded-5 mr-20 border-solid border-[1px]
     w-[100px] h-[100px] p-5;

		width: clamp(70px, 15vw, 100px);
		height: clamp(70px, 15vw, 100px);
		padding: clamp(12px, 5vw, 20px);
		margin-right: clamp(10px, 2vw, 20px);
	}

	.email-container,
	.rank-container {
		color: var(--color-text-grey);
		@apply flex items-center gap-2 font-semibold;
		font-size: clamp(12px, 2vw, 16px);

		.email,
		.rank {
			color: var(--color-text);
			font-size: clamp(12px, 2vw, 16px);
		}
	}

	.exit-button {
		@apply max-w-[150px];
		width: clamp(100px, 10vw, 150px);
	}
}

@media (width < 1050px) and (width > 899px) {
	.info {
		@apply flex-col items-start gap-2;
	}

	.exit-button {
		@apply min-w-full;
	}
}

@media (width < 500px) {
	.exit-button {
		@apply flex items-center justify-center;
	}
}

@media (width < 460px) {
	.info {
		@apply flex-col items-start gap-2;
	}

	.exit-button {
		@apply min-w-full;
	}
}
