.main {
	width: 100%;
	height: 56px;
	min-width: 100px;
	max-width: 400px;
	box-sizing: border-box;
	background-color: #2d323a;
	border: 1px solid rgba(183, 183, 183, 0);
	border-radius: 10px;
	padding: 0 16px;
	font-size: 16px;
	font-weight: 400;
	transition: all 100ms ease-in-out;

	&::placeholder {
		color: #ababab;
	}

	&:hover,
	&:focus {
		border: 1px solid  #B7B7B7;
        background-color: #393e47;
    }
}
