.buttons {
	background-color: var(--color-bg);
	border-color: var(--color-border);
	&:hover {
		border-color: var(--color-border-hover);
	}
	@apply rounded-5 p-1 w-fit border-solid border-[1px] flex transition-all duration-200;
}

.btn {
	@apply cursor-pointer p-[6px] m-px rounded-[3px] transition w-[30px] h-[30px];
	width: clamp(25px, 4vw, 30px);
	height: clamp(25px, 4vw, 30px);

	&:hover {
		background-color: var(--color-main-bg);
	}
}
