.box {
	background-color: var(--color-bg);
	border-color: var(--color-border);
	@apply border-solid border-[1px] duration-200
	rounded-10 flex items-center justify-center hover:cursor-pointer transition-all;
	min-width: clamp(200px, 5vw, 256px);
	max-width: clamp(200px, 60vw, 300px);
	min-height: clamp(130px, 40vw, 170px);

	.image {
		stroke: var(--color-icons);
	}

	&:hover {
		border-color: var(--color-border-hover);
	}
}
